.page-auth {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 62px);
    text-align: center;
  }
    page_auth__form {
        width: 450px;
        border-radius: 5px !important;
      }

            page_auth-head {
                color: green;
                background-color: gray;
                border-top-left-radius: 5px !important;
                border-top-right-radius: 5px !important;
            }



    page_auth__alerts {
        margin-bottom: 20px;
    }

    page_auth__link {
        color: unset;
        cursor: pointer;
        background: none;
        border: none;
        outline: none;
        transition: color 0.25s linear;
  }
        page_auth:hover {
            color: gray;
        }

        page_auth:active {
            color: purple;
        }
