.p {
  margin-block-start: 0;
  margin-block-end: 0;
}
.p1 {
  margin: 0;
}
.div {
  position: absolute;
  top: 800px;
  left: 286px;
  font-size: 32px;
  letter-spacing: 0.02em;
  line-height: 38px;
  color: #000;
  text-align: center;
}
.footer-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #011528;
  width: 1440px;
  height: 700px;
}
.div1 {
  position: relative;
}
.wrapper {
  position: absolute;
  top: 314px;
  left: 590px;
  border-radius: 20px;
  border: 1px solid #fff;
  box-sizing: border-box;
  width: 260px;
  height: 60px;
  display: flex;
  flex-direction: row;
  padding: 20px 26px;
  align-items: center;
  justify-content: center;
  font-family: "Golos Text";
}
.div2 {
  top: 191px;
  left: 460px;
  font-size: 40px;
  font-family: Golos;
  text-align: center;
  width: 519px;
  height: 45px;
}
.div2,
.div3,
.div4,
.div5 {
  position: absolute;
  display: inline-block;
}
.div3 {
  top: 256px;
  left: 495px;
  font-family: "Golos Text";
  text-align: center;
  width: 450px;
}
.div4,
.div5 {
  top: 565px;
  left: 466px;
  width: 74.52px;
  height: 19px;
}
.div5 {
  top: 594px;
  width: 78.6px;
}
.log-in,
.sign-in,
.text {
  position: absolute;
  top: 625px;
  left: 803px;
}
.sign-in,
.text {
  top: 596px;
}
.text {
  top: 619px;
  left: 487px;
  display: inline-block;
  width: 78.6px;
  height: 19px;
}
.div6,
.text1 {
  left: 1129px;
  width: 75.54px;
}
.div6 {
  position: absolute;
  top: 596px;
  display: inline-block;
}
.text1 {
  top: 595px;
}
.div7,
.div8,
.text1 {
  position: absolute;
  display: inline-block;
}
.div7 {
  top: 623px;
  left: 466px;
  width: 152.1px;
  height: 19px;
}
.div8 {
  top: 567px;
  left: 803px;
  width: 127.6px;
}
.div10,
.div9,
.dream-team {
  position: absolute;
  left: 1129px;
}
.div9 {
  top: 625px;
  display: inline-block;
  width: 211px;
  height: 19px;
}
.div10,
.dream-team {
  top: 567px;
}
.dream-team {
  top: 568px;
  left: 102px;
  font-weight: 500;
  display: inline-block;
  width: 92.9px;
  height: 20px;
}
.footer {
  position: absolute;
  top: 2242px;
  left: 0;
  width: 1440px;
  height: 700px;
  font-family: Roboto;
}
.div11,
.div12,
.dream-team1 {
  position: absolute;
  top: 100px;
  left: 0;
}
.div11,
.div12 {
  top: 149px;
  font-size: 20px;
  font-family: "Golos Text";
  display: inline-block;
  width: 602px;
  height: 50px;
}
.div12 {
  top: 209px;
  height: 46px;
}
.div13,
.objects-icon {
  position: absolute;
  top: 61px;
  left: 3px;
}
.objects-icon {
  height: 100.27%;
  width: 35.04%;
  top: -0.14%;
  right: 0;
  bottom: -0.14%;
  left: 64.96%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.block-2 {
  position: absolute;
  top: 1077px;
  left: 105px;
  width: 1233px;
  height: 370px;
  font-size: 24px;
  color: #040d21;
  font-family: Golos;
}
.div14,
.div15,
.div16 {
  position: absolute;
  top: 59px;
  left: 735px;
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  width: 503px;
  height: 80px;
}
.div15,
.div16 {
  top: 193px;
  width: 512px;
}
.div16 {
  top: 327px;
}
.div17,
.div18,
.dream-team2 {
  position: absolute;
  top: 25px;
  left: 735px;
  font-family: Golos;
}
.div17,
.div18 {
  top: 159px;
}
.div18 {
  top: 293px;
  display: inline-block;
  width: 512px;
}
.div19,
.div20,
.div21 {
  position: absolute;
  top: 27px;
  left: 713px;
  font-family: Roboto;
}
.div20,
.div21 {
  top: 159px;
}
.div21 {
  top: 293px;
}
.objects-icon1 {
  position: absolute;
  height: 100%;
  width: 32.08%;
  top: 0;
  right: 67.92%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.block-3 {
  position: absolute;
  top: 1628px;
  left: 96px;
  width: 1247px;
  height: 432px;
  font-size: 20px;
  color: #040d21;
}
.desktop-5-child,
.desktop-5-item {
  position: absolute;
  top: 1547px;
  left: 0;
  background-color: #d9d9d9;
  width: 1440px;
  height: 1px;
}
.desktop-5-item {
  top: 976px;
}
.div22 {
  position: absolute;
  top: 426px;
  left: 437px;
  color: #d9d9d9;
}
.container {
  position: absolute;
  top: 495px;
  left: 588px;
  border-radius: 20px;
  border: 1px solid #fff;
  box-sizing: border-box;
  width: 260px;
  height: 60px;
  display: flex;
  flex-direction: row;
  padding: 20px 26px;
  align-items: center;
  justify-content: center;
}
.div24 {
  position: absolute;
  top: 330px;
  left: 348px;
  font-size: 32px;
  font-family: Golos;
  text-align: center;
  display: inline-block;
  width: 743px;
}
.sign-in1 {
  position: absolute;
  top: 0;
  left: 0;
}
.log-in-2,
.sign-in-2 {
  position: absolute;
  top: 45px;
  left: 1290px;
  width: 48px;
  height: 19px;
  font-family: Roboto;
}
.log-in-2 {
  left: 1206px;
  width: 44px;
}
.div25,
.div27,
.div29,
.div31,
.div33 {
  position: relative;
  width: 44px;
  height: 19px;
  flex-shrink: 0;
}
.div27,
.div29,
.div31,
.div33 {
  width: 80px;
}
.div29,
.div31,
.div33 {
  width: 76px;
}
.div31,
.div33 {
  width: 218px;
}
.div33 {
  width: 136px;
}
.parent {
  position: absolute;
  top: 25px;
  left: 353px;
  border-radius: 50px;
  background-color: #fff;
  height: 60px;
  display: flex;
  flex-direction: row;
  padding: 0 30px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 30px;
  color: #000;
}
.name-team {
  position: absolute;
  top: 47px;
  left: 101px;
  font-weight: 500;
  font-family: Roboto;
}
.desktop-5 {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 2942px;
  overflow: hidden;
  text-align: left;
  font-size: 16px;
  color: #fff;
  font-family: "Golos Text";
}
