.bar{
    /* height: 40px; */
    background-color: white;
    border-radius: 50px; 
    padding-top: 20.5px;
    padding-bottom: 20.5px;
}
.link{
   
    text-decoration: none;
    color: #011528;
    margin: 15px;
    /* background-color: aquamarine; */
}